<%- if @error == 'save' -%>
	$("#comment_notice").html("<p>There was an error saving the comment. Please provide your name, email and comment.</p>");
<%- elsif @error == 'captcha' -%>
	$("#comment_notice").html("<p>You must type in the code from the image.</p>");
<%- else -%>
	<!-- add the new comment -->
	$("#comments").append("<%= escape_javascript(render(:partial => 'entries/comment', :object => @comment)) %>");
	
	<!-- update the comment count -->
	$("#comment_count").html("<%= escape_javascript(link_to(pluralize(@comment.entry.comments.count, 'comment'), entry_details_path(:id => @comment.entry, :slug => @comment.entry.slu))) %>")
	
	<!-- reset the form fields -->
	$("#comment_form").each(function(){
	    this.reset();
	});
	
    <!-- clear the comment error if there is one -->
    $("#comment_notice").html("");
<%- end -%>

<!-- replace the captcha -->
$("#simple_captcha_container").html("<%= escape_javascript(render(:partial => 'shared/simple_captcha')) %>")