<%- if !@entries.blank? -%>
	<%= render :partial => 'shared/entry', :collection => @entries, :locals => { :show_admin => 'yes' } %>
	<%= will_paginate @entries %>
<%- else -%>
	<p>There are no entries at this time.</p>
<%- end -%>