* { padding:0; margin:0; } /* global definition for padding and margin */

html { height:101%; background:#40A5EC url('/images/bg_page.gif') fixed repeat-x 0 0; }

body { font-size:100%; height:100%; border-top:6px solid #2B8ED3; }

h1, h2, h3, h4, h5 { font:normal 100%/100% "Trebuchet MS", arial, verdana, sans-serif; color:#000; padding:0 0 5px 0; }
h1 { font-size:1.6em; line-height:100%; }
h2 { font-size:1.4em; line-height:100%; }
h3 { font-size:1.2em; line-height:100%; }
h4 { font-size:1.0em; line-height:100%; }
h5 { font-size:0.9em; line-height:100%; }

p, ol, ul, table, dl, div.formatted { font:normal 14px/150% "Trebuchet MS", arial, verdana, sans-serif; padding:0 0 10px 0; }

a, a:visited { color:#369; outline:none; /*removes dotted outline around links in FF*/ }
a:hover { color:#369; text-decoration:none; }

dl { padding:0 0 5px 10px; }
dt { font-weight:bold; }
dd { margin:0 0 5px 0; }

ol { padding:0 0 0 15px; }
ol li { padding:0 0 5px 0; }

ul { padding:0 0 0 20px; }
ul li { padding:0 0 5px 0; }

table { padding:0; }
th { font-weight:bold; }
td { padding:0; }

img { border:none; }
option{ margin-right:10px;}

/**************************************************
											IDS
**************************************************/
#wrapper { width:875px; padding:0 0 25px 30px; }

#header { padding:35px 0 25px 0; }


/************ styles for notice/error divs ************/
#error, #notice, #success { width:90%; margin:0 auto 10px auto; padding:5px; border:2px solid #DDD; }
#error p, #notice p, #success p { margin-left:20px; padding:0; font-size:12px; color:#000; }
#error a, #notice a, #success a { text-decoration:none; padding:0 3px; }
#error a:hover, #notice a:hover, #success a:hover { color:#000; border:1px solid #000; }
#error { background-color:#FBE3E4; color:#8A1F11; border-color:#FBC2C4; }
#notice { background-color:#FFF6BF; color:#514721; border-color:#FFD324; }
#success { background-color:#E6EFC2; color:#264409; border-color:#C6D880; }
#error a { border:1px solid #8A1F11; color:#8A1F11; }
#notice a { border:1px solid #514721; color:#514721; }
#success a { border:1px solid #264409; color:#264409; }

/**************************************************
											CLASSES
**************************************************/
.clear { clear:both; }

.entry { margin:0 0 35px 0; }

.to_box {
  width:802px;
  padding:0 0 0 70px;
  margin:0 0 12px 0;
  background:url('/images/bg_to.png') no-repeat 0 0;
  font-size:20px;
  font-weight:bold;
  line-height:40px;
  color:#0D5689;
}
.to_box .to_label { display:none; }

.message_box {
  width:811px;
  background:url('/images/message_box_top.png') no-repeat 0 0;
  padding:20px 40px 0 20px;
}
.message_box p { font-size:15px; color:#0D5689; padding:0; }
.message_label {
  background:url('/images/text_doing_wrong.png') no-repeat 0 0;
  width:436px;
  padding:27px 0 0 0;
  margin:0 0 8px 0;
}
.message_buttons {
  width:406px;
  height:27px;
  padding:32px 0 0 465px;
  background:url('/images/message_box_bottom.png') no-repeat 0 0;
}
.message_buttons p { float:left; }

.replace {
  display:block;
  height:0;
  overflow:hidden;
  font-size:0;
  letter-spacing:-1em;
  text-indent:-1000em;
}

/************ styles for pagination ************/
.pagination {
	font:normal .75em/150% Arial, Verdana, Arial,sans-serif;
	padding:3px;
	margin:3px;
	text-align:center;
}
.pagination a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	text-decoration:none;
	color:#666;
	font-size:1.0em !important;
}
.pagination a:hover, .pagination a:active { border:1px solid #000; color:#000; }
.pagination span.current {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	font-weight:bold;
	background-color:#666;
	color:#FFF;
}
.pagination span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #DDD;
	color:#999;
}
/************************/